<h1 class="ms-3">
  <mat-icon>local_fire_department</mat-icon>
  Firewall
</h1>
<mat-divider></mat-divider>
<div class="d-flex align-items-center">
  <div class="p-3">
    <mat-form-field apperence="fill">
      <mat-label>Rule Name</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>
  <div class="p-3">
    <mat-form-field apperence="fill">
      <mat-label>Port</mat-label>
      <input matInput type="number">
    </mat-form-field>
  </div>
  <div class="pb-3">
    <mat-checkbox [checked]="true">Enabled</mat-checkbox>
  </div>
</div>
<a class="p-3 text-decoration-underline">+ New Rule</a>